@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 80vw;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0% 50%;
  opacity: 1.0;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  /*mix-blend-mode: overlay;*/
  opacity:0.4;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700vw;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
  color:#fff;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991vw)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            background-color: #000;
            width: 80vw;
            height:100vh;
            overflow: auto;
            white-space: nowrap;
        }

section, .safe-area {
    padding-left:1em;
    padding-right:1em;
}

@supports(padding:max(0px)) {
	section {
		/* old syntax iOS 11.0, 11.1 */
		padding-left:  max(1em, constant(safe-area-inset-left));
		padding-right: max(1em, constant(safe-area-inset-right));
		
		/* new syntax iOS 11.2+ */
		padding-left:  max(1em, env(safe-area-inset-left));
		padding-right: max(1em, env(safe-area-inset-right));
	}
}
