* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color:black;
  color:white;
}

h1 {
  color: SeaGreen;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

.parallax1 {
  /* The image used */
  background-image: url("https://nahtedetihw.github.io/airpodscompanionpreview/resources/images/APCSS1.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax2 {
  /* The image used */
  background-image: url("https://nahtedetihw.github.io/airpodscompanionpreview/resources/images/APCSS2.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax3 {
  /* The image used */
  background-image: url("https://nahtedetihw.github.io/airpodscompanionpreview/resources/images/APCSS3.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax4 {
  /* The image used */
  background-image: url("https://nahtedetihw.github.io/airpodscompanionpreview/resources/images/APCSS4.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax5 {
  /* The image used */
  background-image: url("https://nahtedetihw.github.io/airpodscompanionpreview/resources/images/APCSS5.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
