* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color:black;
  color:white;
}

h1 {
  color: SeaGreen;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

#filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 100%;
}
#container {
  width: 1500px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.section {
  display: block;
  width: 300px;
  height: 800px;
  float: left;
  margin-left: 20px;
  opacity: 0.6;
  border-radius: 6px;
}
.clear {
  clear: both;
}

.ss1 {
  background-color: #000;
  background: url(./resources/images/APCSS1.png);
}

.ss2 {
  background-color: #000;
  background: url(./resources/images/APCSS2.png);
}
.ss3 {
  background-color: #000;
  background: url(./resources/images/APCSS3.png);
}
.ss4 {
  background-color: #000;
  background: url(./resources/images/APCSS4.png);
}
.ss5 {
  background-color: #000;
  background: url(./resources/images/APCSS5.png);
}
